<!DOCTYPE html>
<html>
<head>
	<title>Course Grades</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ @BASE }}/view/styles/page.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <include href="/view/includes/sidebar.html">

    <div class="container" id="content">
        
        <canvas id="myChart"></canvas>

        <script>

            var ctx = document.getElementById("myChart").getContext('2d');
            ctx.canvas.width = 600;
            ctx.canvas.height = 800;
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: {{ json_encode(@names, JSON_PRETTY_PRINT) }},
            datasets: [{
                label: '{{ @courseName }}',
                data: {{ json_encode(@grades, JSON_PRETTY_PRINT) }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'
            ],
                borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
                borderWidth: 1
            }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                responsive:true,
                    maintainAspectRatio: this.maintainAspectRatio
            }
            });


        </script>

    </div>

    <include href="/view/includes/javascripts.html">
</body>
</html>