body {
	background-color: #2e2e2e;
	color: white;
}

input {
	color: white;
}

.card {
	margin: 0 auto;
	margin-top: 5em;
	width: 45%;
	background-color: #3e3e3e;
}

h2 {
	padding-bottom: 1em;
}

#login {
	margin-bottom: 2em;
}


@media only screen and (max-width : 992px) {
   input {
	   width: 90%;
   }

   .card {
	   width: 100%;
   }
}
