
.container {
    padding-left: 300px;
    max-width: 1580px !important;
}

@media only screen and (max-width : 992px) {
    .container {
        padding-left: 0;
    }
}

@media only screen and (min-width : 1280px) {
    .container {
        width: 90% !important;
        padding-left: 310px;
        padding-right: 10px;
    }
}

.sidenav {
    background:#394B58;
}

#courseList {
    margin-right: 2em;
    position: relative;
    z-index: 9999;
}

#showModal {
    display: none;
}

#refreshApi {
    position: fixed;
    right:    0;
    bottom:   0;
    margin-right: 30px;
    margin-bottom: 30px;
    z-index: 9999;
}

#courseList {
    right: 0;
    top: 0;
    position: fixed;
}

#send-btn {
    margin-bottom: 2em;
}

.modal {
    width: 45% !important;
}

#editModal {
    width: 25% !important;
}

input {
	color: white;
}

.modal-container {
    margin: 0 auto;
    width: 75%;
}

.modal-header {
    padding-bottom: 2em;
}

.sidenav .user-view {
    margin-bottom: 16px !important;
}

.edit, .delete-user {
    cursor: pointer;
}

.circle {
    height: 128px !important; 
    width: 128px !important;
}


body {
    color: white;
    background-color: #3e3e3e;
}

tr {
    color: white !important;
    background-color: #2e2e2e !important;
}

.mdl-button {
    color: white;
}

.previous {
    color: white;
}

.green-text {
    color: #2e8839 !important;
}

.background > img {
    padding: 1rem;
}

.mdl-button--colored {
    background: #2e8839 !important;
}

.mdl-button.mdl-button--disabled.mdl-button--disabled, .mdl-button[disabled][disabled] {
    display: none;
}

.dataTables_info {
    color: white !important;
}

.sorting, .sorting_asc, .sorting_desc {
    background : none !important;
}

.card {
    padding: 2rem;
}

.card {
    background-color: #2e2e2e;
}

h4 {
    padding-top: 0.5em;
}

table.dataTable thead th {
    border-color: white;
  }

table.dataTable.no-footer {
    border-bottom: 0;
  }

/*
.sidenav {
    box-shadow: 0px 2px 20px #231F20;
    -webkit-box-shadow: 0px 2px 20px #231F20;
    -mox-box-shadow: 0px 2px 20px #231F20;
}
*/