<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/natural.js"></script>
<script type="text/javascript" charset="utf8" src="{{ @BASE }}/model/javascripts/sidebar.js"></script>
<script type="text/javascript" charset="utf8" src="{{ @BASE }}/model/javascripts/courseRoutes.js"></script>
<script type="text/javascript" charset="utf8" src="{{ @BASE }}/model/javascripts/datatable.js"></script>
<script type="text/javascript" charset="utf8" src="{{ @BASE }}/model/javascripts/dropdown.js"></script>
<script type="text/javascript" charset="utf8" src="{{ @BASE }}/model/javascripts/modal.js"></script>