<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Canvas Reporting</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </nav>
</header>