<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Reporting Tool</h3>
    </div>

    <ul class="list-unstyled components">
        
        <li {{ @page == "grades" ? "class=\"active\"" : ""}}>
            <a href="{{ @BASE }}/reports/grades/0">Course Grades</a>
        </li>
        <li {{ @page == "assignments" ? "class=\"active\"" : ""}}>
            <a href="{{ @BASE }}/reports/assignments">Assignment Report</a>
        </li>
        <li {{ @page == "engagement" ? "class=\"active\"" : ""}}>
            <a href="">Engagement Report</a>
        </li>
        <li>
            <a href="">Report 4</a>
        </li>
    </ul>

    <ul class="list-unstyled">
        <li><a href="{{ @BASE }}/logout">Logout</a></li>
    </ul>
</nav>

<nav class="navbar navbar-default" id="toggle-button">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="fa fa-align-justify"></i>
                <span>Toggle Sidebar</span>
            </button>
        </div>
    </div>
</nav>