<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Reporting Tool</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Welcome, {{ ucfirst(@user->getUsername()) }}</p>
        <li class="active">
            <a href="#">Assignment Report</a>
        </li>
        <li >
            <a href="#">Engagement Report</a>
        </li>
        <li>
            <a href="#">Report 3</a>
        </li>
        <li>
            <a href="#">Report 4</a>
        </li>
    </ul>

    <ul class="list-unstyled">
        <li><a href="{{ @BASE }}/logout">Logout</a></li>
    </ul>
</nav>

<nav class="navbar navbar-default" id="toggle-button">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="fa fa-align-justify"></i>
                <span>Toggle Sidebar</span>
            </button>
        </div>
    </div>
</nav>