
<ul id="slide-out" class="sidenav sidenav-fixed" style="background-color: #fefefe">
    <li></li>
        <div class="user-view" style="width:300px;height:176px">
            <div class="background">
                <img src="{{ @BASE }}/view/includes/images/canvas-green-river-logo1.png" style="width:300px; height:176px;">
            </div>
        </div>
    </li>
    <li><a class="waves-effect" href="{{ @BASE }}/reports/grades/0"><i class="material-icons">assessment</i>Grade Report</a></li>
    <li><a class="waves-effect" href="{{ @BASE }}/reports/assignments"><i class="material-icons">assignment</i>Assignment Report</a></li>
    <li><a class="waves-effect" href="{{ @BASE }}/reports/engagement/0"><i class="material-icons">assignment_late</i>Engagement Report</a></li>
    <li><div class="divider"></div></li>
    
    <li><a class="waves-effect" href="{{ @BASE }}/logout"><i class="material-icons">input</i>Logout</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger" id="toggle"><i class="medium material-icons">menu</i></a>