<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>

    <include href="/view/includes/styles.html">
</head>
<body>
    <include href="/view/includes/sidebar.html"></include>
    
    <div class="container">
        <h2 class="center">Admin</h2>

        <table class="table">
            <thead>
                <th>Username</th>
                <th>API Key</th>
            </thead>
            <tbody>
                <repeat group="{{ @users }}" value="{{ @username }}">
                    <tr>
                        <td>
                            {{ @username[0] }}
                        </td>
                        <td>
                            {{ @username[1] }}
                        </td>
                    </tr>    
                </repeat>
            </tbody>
        </table>
    </div>

    <include href="/view/includes/javascripts.html">
</body>
</html>