<!DOCTYPE html>
<html>
<head>
	<title>Course Grades</title>

    <include href="/view/includes/styles.html">
</head>
<body>
    <include href="/view/includes/sidebar.html"></include>

    <div class="container">
        
        <!-- <include href="/view/reports/assignment-reports.html"> !-->
        <div id="assignments">
            <table class="table table-hover">
                <thead>
                    <th>Title</th>
                    <th>Points Possible</th>
                    <th>Due Date</th>
                    <th>Has Submitted</th>
                </thead>
                <tbody>
                    <repeat group="{{ @data }}" value="{{ @row }}">
                        <tr>
                            <td>{{ @row['title'] }}</td>
                            <td>{{ @row['points'] }}</td>
                            <td>{{ @row['due_date'] }}</td>
                            <td>{{ @row['status'] }}</td>
                        </tr>
                    </repeat>
                </tbody>
            </table>
        </div>
    </div>

    <include href="/view/includes/javascripts.html">
</body>
</html>