<!DOCTYPE html>
<html>
<head>
	<title>Course Grades</title>

    <include href="/view/includes/styles.html">
</head>
<body>
    <include href="/view/includes/sidebar.html"></include>
    
    <div class="container">
        <!--
        <table class="mdl-data-table" id="assignmentTable" >
            <thead>
                <th>Name</th>
                <th>On Time</th>
                <th>Upcoming</th>
                <th>Missing</th>
            </thead>
            <tbody>
                <repeat group="{{ @data }}" value="{{ @row }}">
                    <tr>
                        <td>{{ @row['name'] }}</td>
                        <td>{{ @row['on_time'] }}</td>
                        <td class="clickable">{{ @row['floating'] }}</td>
                        <td id="missing"><p>{{ @row['missing'] }}</p></td>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </div>
    !-->

        <include href="/view/reports/assignment-reports.html"></include>
    </div>
    
    <include href="/view/includes/javascripts.html">
</body>
</html>