<!DOCTYPE html>
<html>
<head>
	<title>Engagement Report</title>
    <include href="/view/includes/styles.html">
</head>
<body>
    <include href="/view/includes/sidebar.html">

    <div class="container" id="content">

        <h4 class="text-center pb-3">Engagement Report</h4>

        <table class="table table-hover" id="engagementTable" bgcolor="#eee">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Last Login</th>
                <th scope="col">Total Activity Time</th>
            </thead>
            <tbody>
                <repeat group="{{ @data }}" value="{{ @row }}">
                    <tr>
                        <td class="clickable">{{ @row['id'] }}</td>
                        <td class="clickable">{{ @row['name'] }}</td>

                        <check if="{{ @row['lastLogin'] == '' }}">
                            <true>
                                <td class="text-danger clickable" width="20%">Never Logged In</td>
                            </true>
                            <false>
                                <td class="clickable" width="20%">{{ @row['lastLogin'] }}</td>
                            </false>
                        </check>
                        <td>{{ @row['activityTime'] }} minutes</td>
                    </tr>
                </repeat>
            </tbody>
        </table>
        
        <include href="/view/includes/modal.html">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#engagementModal" id="showModal"></button>
        
    </div>

    <include href="/view/includes/javascripts.html">

</body>
</html>