<!DOCTYPE html>
<html>
<head>
	<title>Course Grades</title>
    
    <include href="/view/includes/styles.html">
</head>
<body>
    <include href="/view/includes/sidebar.html">

    <div class="content">
        <h1 class="text-center display-4">Grade Report for {{ @courseName }}</h1>
        
        <div class="dropdown" id="courseDropDown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">Course List</button>
            <div class="dropdown-menu">
                <div id="courses">
                    <repeat group="{{ @courseNameList }}" value="{{ @course }}">
                        <i class="dropdown-item course">{{ @course }}</i>
                    </repeat>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-md-10">
                <include href="/view/reports/grade-report.html">
            </div>
        </div>

    </div>

    <include href="/view/includes/javascripts.html">
</body>
</html>