<!DOCTYPE html>
<html>
<head>
	<title>Course Grades</title>
    
    <include href="/view/includes/styles.html">
</head>
<body>
    <include href="/view/includes/sidebar.html">

    <div class="col s4 right">
        <button class="btn waves-effect waves-light" name="refreshApi" type="button"><i class="material-icons left">refresh</i>Refresh</button>
    </div>

    <div class="col s4 right">
        <a class="dropdown-trigger btn" href="" data-target="courseDropDown">Course List</a>
        <ul id="courseDropDown" class="dropdown-content">
            <div id="courses">
                <repeat group="{{ @courseNameList }}" value="{{ @course }}">
                    <li><i class="dropdown-item course">{{ @course }}</i></li>
                </repeat>
            </div>
        </ul>
    </div>

    <div class="container">
        <h4 class="center">Grade Report for {{ @courseName }}</h4>
    
        <div class="row center">
            <div class="col s12">
                <include href="/view/reports/grade-report.html">
            </div>
        </div>
    </div>

    <include href="/view/includes/javascripts.html">
</body>
</html>