<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ @BASE }}/view/styles/page.css">
</head>
<body>
    <include href="/view/includes/sidebar.html">

    <div class="container" id="content">
        <check if="{{ @page }} == 'grades'">
            <include href="view/reports/grade-report.html">
        </check>
        <check if="{{ @page }} == 'assignments'">
            <include href="view/reports/assignment-reports.html">
        </check>
    </div>

    <include href="/view/includes/javascripts.html">
</body>
</html>