<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ @BASE }}/view/styles/page.css">
</head>
<body>

    <include href="/view/includes/navbar.html">
    
    <div class="container">
        <p>{{ @user->getAccessKey() }}</p>
    </div>

    <include href="/view/includes/javascripts.html">
</body>
</html>