<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Log in</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ @BASE }}/view/styles/login.css">
    
</head>
<body>
    <!-- 
    <div id="page">

        <br>

        <div class="text-danger text-center pb-3">{{ @errors['invalid-login'] }}</div>

        <form id="login" method="post" action="">
            <h2 class="form-signin-heading text-center">Sign In</h2>
            <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="admin" autofocus>
            <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password" value="@dm1n">
            
            <input type="submit" class="btn btn-lg btn-primary btn-block" name="submit" value="Login" />
        </form>            
        
    </div>
    !-->

    <div class="container">
        <div class="red-text center">{{ @errors['invalid-login']}}</div>
        
        <div class="card">
            <div class="row">
                <form class="col s8 offset-s2" method="post" action="">
                    <h2 class="center">Sign In</h2>

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" placeholder="Username" value="admin" autofocus>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" value="@dm1n">
                        </div>
                    </div>

                    <div class="row">
                        <input type="submit" class="btn right" name="submit" id="login" value="Login" />
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>